#root{
  margin: 170px 525px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: linen;
}
